[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/wirmpolter
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/wirmpolter
	label-Verified = -1..+1 group user/wirmpolter
	push = group user/wirmpolter
	read = group user/wirmpolter
	rebase = group user/wirmpolter
	removeReviewer = group user/wirmpolter
	submit = group user/wirmpolter
[access "refs/heads/*"]
	create = group user/wirmpolter
	push = +force group user/wirmpolter
	pushMerge = group user/wirmpolter
	read = group user/wirmpolter
[access "refs/tags/*"]
	push = group user/wirmpolter
	push = +force group user/wirmpolter
